BOT_TOKEN=123
BASE_URL='http://ddev-drupal-ai-dev-tracker-web:80'
DRUPAL_AUTH_TOKEN_CLIENT_ID='client_id'
DRUPAL_AUTH_TOKEN_CLIENT_SECRET='secretysecret'
DRUPAL_AUTH_TOKEN_SCOPE='token_scope'
PREFERENCES_ENDPOINT_BASE_URL='http://ddev-drupal-ai-dev-tracker-web:80'
